/* Generals*/

* {
  outline: 1px solid blue;
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', cursive;
}

/*  To be able to use height in%   */

html, body {
  height: 100%;
}

#container {
  /*background-image: url('images/Background_test.png');*/
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*  Welcome Page  */

.welcome {
  height: 100%;
  width: 100%;
  background-image: url('images/Background_test.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* App Main Page */

.appMainPage {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#header {
  background-color: red;
  display: flex;
  align-content: center;
  height: 20%;
  width: 100%;
}

.innerHeader {
  width: 100%;
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.size {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.timerElement {}

.timerSpace {
  width: 70%;
  height: 50%;
  background-color: white;
}

.timerSpacePar {
  margin-bottom: 4%;
}

.scoreElementOuter {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.scoreElement1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.scoreElement2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.scoreSpacePar1 {
  margin-bottom: 4%;
}

.scoreSpace1 {
  width: 70%;
  height: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.scoreSpacePar2 {
  margin-bottom: 4%;
}

.scoreSpace2 {
  width: 70%;
  height: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.nameElement {}

.nameElementPar {
  margin-bottom: 7%;
}

.nameElementInput {
  width: 70%;
  height: 20%;
}

.startButtonElement {}

.restartButtonElement {}

.resetElement {}

#main {
  background-color: blue;
  height: 60%;
  width: 100%;
}

.messageElement {
  height: 20%;
  width: 100%;
  background-color: rgb(135, 164, 193);
}

.boardElement {
  height: 60%;
  width: 100%;
  background-color: rgb(135, 193, 135);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  height: 90%;
  width: 60%;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
}

.iDiv {
  height: 10%;
  width: 10%;
  background-color: gray;
  outline: 1px solid black;
}

.iDivClicked {
  height: 10%;
  width: 10%;
  outline: 1px solid black;
}

.sub {
  background-color: aqua;
  /*display:none;*/
}

.levelElement {
  height: 20%;
  width: 100%;
  background-color: rgb(193, 135, 175);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

#footer {
  background-color: green;
  height: 20%;
  width: 100%;
  display: flex;
}

.bestScorersElement {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.
/*  Buttons Styles  */

.welcomeButton {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.welcomeButton {
  background: rgb(28, 184, 65);
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.sizeBut {
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.easyBox {}

.mediumBox {}

.hardBox {}

.gridContainer {}

/*  Radio Buttons  */

/*Media Queries*/

/*@media (min-width: 1000px) {
  .responsive-div {
    background-color: blue;
  }
}*/

@media (min-width: 750px) {
  #container {
    flex-direction: row;
  }
  .appMainPage {
    flex-direction: row;
  }
  #header {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 20%;
  }
  .innerHeader {
    width: auto;
    height: 33%;
  }
  #main {
    height: 367px;
    background-color: blue;
    height: 100%;
    width: 60%;
  }
  #footer {
    height: 150px;
    background-color: green;
    flex-direction: column;
    height: 100%;
    width: 20%;
  }
  .bestScorersElement {
    width: auto;
    height: 50%;
  }
}
